export DB_HOSTNAME=localhost
# export DB_HOSTNAME=192.168.1.75
export DB_USERNAME=postgres
export DB_PASSWORD=postgres
export DB_PORT=5432
export DB_NAME=doctor_smart_dev
export DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOSTNAME}:${DB_PORT}/${DB_NAME}"


export RAG_DB_HOSTNAME=localhost
# export RAG_DB_HOSTNAME=192.168.1.75
export RAG_DB_USERNAME=postgres
export RAG_DB_PASSWORD=postgres
export RAG_DB_PORT=5433
export RAG_DB_NAME=rag_db

export RAG_DB_BACKEND=pgvector
export RAG_DATABASE_URL="postgresql://${RAG_DB_USERNAME}:${RAG_DB_PASSWORD}@${RAG_DB_HOSTNAME}:${RAG_DB_PORT}/${RAG_DB_NAME}"

[ -f .envrc.custom ] && source .envrc.custom
